{% extends "base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}
{% load cookie_consent_tags %}


{% block intro %}
<div class="page-header" style="background-image: url({% static 'images/landing.png' %})">
  <div class="container">

    <div class="row" id="testing">
      <div class="d-none d-sm-none d-md-block col-md-3 align-self-center">
        {% if request.user.is_authenticated %}
        <img src="{% static 'images/default-avatar.png' %}" alt="Thumbnail Image" class="rounded-circle img-fluid">
        {% else %}
        <img src="{% static 'images/logoADPD.png' %}" alt="Thumbnail Image" class="rounded-circle img-fluid">
        {% endif %}
      </div>
      <div class="col-md-9">
        {% if request.user.is_authenticated %}
        <div class="row">
          <div class="col-md-12">
        <h1 class="title">{{request.user.username}}</h1>
        <!-- <h1 class="title">Bine ai venit în familia Dinamo!</h1> -->
        <h3>Planul tău curent <b>{{ current_membership }}</b>
          {% if subscription.status != 'Active' %}
          <b>nu este activ.</b> Îți poți plăti cotizația <a href="{% url 'users:detail' request.user.username %}"><b>aici</b></a>.</h3>
          {% else %}
          este valabil până la data de {{subscription.billing_period_end_date}}</h3>
          {% endif %}
          </div>
        </div>
        {% else %}
        <div class="row">
          <div class="col-md-12">
            <h2 class="title" style="text-align:center;">Totul pentru Dinamo!</h2>
          </div>
        </div>
        <div class="row">
        <div class="col-sm-4">
          <h2 class="title" style="text-align:center;">493</h2>
          <h4 style="text-align:center;">membri cotizanți</h4>
        </div>
        <div class="col-sm-4">
          <h2 class="title" style="text-align:center;">155.150</h2>
          <h4 style="text-align:center;">sold cotizații</h4>
        </div>
        <div class="col-sm-4">
          <h2 class="title" style="text-align:center;">36.666</h2>
          <h4 style="text-align:center;">sold donații</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="title" style="text-align:center;">Alătură-te ADPD să faci parte cu adevărat din istoria lui Dinamo!</h4>
        </div>
      </div>

        {% endif %}
  </div>

  <div class="row">
    <div class="col-12">

    </div>
  </div>


    </div>
    <!-- <div class="row">
      <div class="col-md-4">
        <h2 class="title" style="text-align:center;">493</h2>
        <h4 style="text-align:center;">membri cotizanți</h4>
      </div>
      <div class="col-md-4">
        <h2 class="title" style="text-align:center;">155.150</h2>
        <h4 style="text-align:center;">sold cotizații</h4>
      </div>
      <div class="col-md-4">
        <h2 class="title" style="text-align:center;">36.666</h2>
        <h4 style="text-align:center;">sold donații</h4>
      </div>
    </div> -->

  </div>
</div>
{% endblock %}
{% block main_content %}
<div class="pricing-5" id="pricing-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-center">
        <h2 class="title">Înscrie-te acum!</h2>
        <h5 class="description">Lista beneficiilor oferite de către asociație membrilor săi va suferi modificări substanțiale pe măsură ce Asociația va avea contracte de colaborare cu diferiți parteneri.</h5>
        <!--<div class="section-space"></div>-->
      </div>
    </div>


    <div class="row">

      {% for membership in memberships %}
        <div class="col-md-4 ml-auto">
          <div class="{% cycle 'card card-pricing' 'card card-pricing card-raised bg-primary' %}">
            <div class="card-body ">
              <h6 class="card-category">{{ membership }}</h6>
              <h1 class="card-title">
                <small>RON</small>{{ membership.price }}
                <small>/an</small>
              </h1>
              {{ membership.description | safe }}
              <form class="" action="{% url 'reg' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="membership_type" value="{{membership.membership_type}}">
                <button class="btn btn-primary btn-round">
                  Devino Membru {{ membership }}
                </button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}

{% endblock %}
