{% extends "base_admin.html" %}
{% load static %}

{% block main_content %}
<div class="card">
  <div class="card-body">

    <form method="post">{% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" value="Update" class="button btn btn-danger">
    </form>

  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript">
$('#legale').addClass('active')
$('#tosUpdate').addClass('active')

</script>

{% endblock %}
