{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirmă adresa de email" %}{% endblock %}


{% block inner %}
<h1>{% trans "Confirmă adresa de email" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Te rugăm să confirmi că <a href="mailto:{{ email }}">{{ email }}</a> este adresa de email a utilizatorului {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-primary" type="submit">{% trans 'Confirmă' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Acest link de confimare a expirat sau este invalid. Retrimite <a href="{{ email_url }}">pentru confirmare</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
