{% extends "base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}
{% load cookie_consent_tags %}

{% block body_class %}
<body class="signup-page sidebar-collapse" id="mainly">
{% endblock body_class %}


{% block main_content %}
<div class="page-header" filter-color="red" style="background-image: url('{% static 'images/landing.png' %}'); background-size: cover; background-position: top center;">
<div class="container">
  <div class="row">
    <div class="col-11 ml-auto mr-auto">
      <div class="card card-nav-tabs">
        <!-- Start card Header -->
        <div class="card-header card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs nav-justified" data-tabs="tabs" id="myTab">
                <li class="nav-item">
                  <a class="nav-link active show" href="#abonament" data-toggle="tab">
                    <i class="material-icons">card_membership</i>
                      <span id="showAbonament"> Abonament </span>
                    <div class="ripple-container"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#profil" data-toggle="tab">
                    <i class="material-icons">face</i>
                    Profil
                    <div class="ripple-container"></div></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End card Header -->

        <!-- Start card Body -->
        <div class="card-body ">
          <div class="tab-content text-center">

            <!-- Start Abonament Tab -->
            <div class="tab-pane active show" id="abonament">
              <div class="row">
                <div class="col-12">

                  <h3>Selectează tipul de Abonament</h3>
                </div>
                </div>
                <div class="row">
                {% for membership in memberships %}
                <div class="col-md-4 ml-auto">
                  <div class="{% cycle 'card card-pricing' 'card card-pricing card-raised bg-primary' %}">
                    <div class="card-body ">
                      <h6 class="card-category">{{ membership }}</h6>
                      <h1 class="card-title">
                        <small>RON</small>{{ membership.price }}
                        <small>/an</small>
                      </h1>
                      {{ membership.description | safe }}
                      <button class="btn btn-primary btn-round abonament" value="{{membership.membership_type}}">
                        Devino Membru {{ membership }}
                      </button>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>   <!-- End Abonament Tab -->

            <!-- Start Profil Tab -->
            <div class="tab-pane" id="profil">
              <h3 id="display-errors">Completează datele de înregistrare</h3>
              <!-- Start form -->
              <form method="post" action='{% url "reg" %}' id="formProfil">
                {% csrf_token %}
                <input type="hidden" name="{{ form.member.name }}" id="memberInput" value="">

                <div class="form-group bmd-form-group" id="div_username">
                  <label for="{{ form.username.name }}" id="username-errors" class="bmd-label-floating" style="left: 55px;top: 10px;"></label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control"
                    name="{{ form.username.name }}" id="{{ form.username.id_for_label }}"
                    {% if form.username.value != None %}value="{{ form.username.value|stringformat:'s' }}"{% endif %}
                     maxlength="{{ form.username.field.max_length }}"
                     {% if form.username.field.required %}required{% endif %} placeholder="Utilizator...">
                     </div>
                     <span class="bmd-help" style="left: 55px;">Introdu utilizatorul</span>
                </div>

                <div class="form-group bmd-form-group" id="div_email">
                  <label for="{{ form.email.name }}" id="email-errors" class="bmd-label-floating" style="left: 55px;top: 10px;"></label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail_outline</i>
                      </span>
                    </div>
                    <input type="text" class="form-control"
                           name="{{ form.email.name }}" id="{{ form.email.id_for_label }}"
                           {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                           maxlength="{{ form.email.field.max_length }}"
                           {% if form.email.field.required %}required{% endif %}
                           placeholder="Email...">
                  </div>
                  <span class="bmd-help" style="left: 55px;">Introdu adresa de email.</span>
                </div>

                <div class="row">
                  <div class="col-6-md">

                    <div class="form-group bmd-form-group" id="div_password1">
                      <label for="{{ form.password1.name }}" id="password1-errors" class="bmd-label-floating" style="left: 55px;top: 10px;"></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_open</i>
                          </span>
                        </div>
                        <input type="password" placeholder="Parola..." class="form-control"
                                name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}"
                                {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
                                maxlength="{{ form.password1.field.max_length }}"
                                {% if form.password1.field.required %}required{% endif %}>
                      </div>
                      <span class="bmd-help" style="left: 55px;">Introdu parola.</span>
                    </div>
                  </div>
                  <div class="col-6-md">
                    <div class="form-group bmd-form-group" id="div_password2">
                      <label for="{{ form.password2.name }}" id="password2-errors" class="bmd-label-floating" style="left: 55px;top: 10px;"></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" placeholder="Verifică parola..." class="form-control"
                              name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}"
                              {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
                              maxlength="{{ form.password2.field.max_length }}"
                              {% if form.password2.field.required %}required{% endif %}>
                      </div>
                      <span class="bmd-help" style="left: 55px;">Verifică parola.</span>
                    </div>
                  </div>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""
                          name="{{ form.tos.name }}" id="{{ form.tos.id_for_label }}"
                          {% if form.tos.field.required %}required{% endif %}>
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                    Accept <a href="{% url 'tos' %}">Termenii și condițiile</a>.
                  </label>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-round">Mergi la ultimul pas</button>
                </div>
                </form>

            </div>  <!-- End Profil Tab -->

        <!-- End card Body -->
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">

  $(".abonament").click(function() {
    var fired_button = $(this).val();
    $('#showAbonament').text('Abonament ' + fired_button);
    $('#memberInput').val(fired_button);
    $('#myTab a[href="#profil"]').tab('show')
  });

  $('#id_email').on('input', function() {
    var input=$(this);
    var re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

    if(re.test(input.val())) {
      $('#email-errors').html("").html("");
    } else {
      $('#email-errors').html("").html("Adresa de email este invalida");
      $('#div_email').addClass("has-danger");
    }
  }).blur(function() {
    var input=$(this);

    if (input.val().trim()===""){
      $('#email-errors').html("").html("Acest câmp este obligatoriu!");
      $('#div_email').addClass("has-danger");
    }
  });

  $('#id_username').on('input', function() {
    var input=$(this);

    if(/\s/.test(input.val())) {
      $('#username-errors').html("").html("Acest câmp nu poate conține spații");
      $('#div_username').addClass("has-danger");
    } else {
      $('#username-errors').html("");
    }
  }).blur(function() {
    var input=$(this);

    if (input.val().trim()===""){
      $('#username-errors').html("").html("Acest câmp este obligatoriu!");
      $('#div_username').addClass("has-danger");
      }
  });

  $('#id_password1').blur(function() {
    var input=$(this);

    if (input.val().trim()===""){
      $('#password1-errors').html("").html("Acest câmp este obligatoriu!");
      $('#div_password1').addClass("has-danger");
    } else {
      $('#password1-errors').html("");
    }
  });

  $('#id_password2').blur(function() {
    var input=$(this);

    var pass1 = $('#id_password1')

    if (input.val().trim()===""){
      $('#password2-errors').html("").html("Acest câmp este obligatoriu!");
      $('#div_password2').addClass("has-danger");
    } else {
      $('#password2-errors').html("");
    }

    if (input.val() !== pass1.val()) {
      $('#password1-errors').html("").html("Parolele nu coincid!");
      $('#div_password1').addClass("has-danger");
      $('#password2-errors').html("").html("Parolele nu coincid!");
      $('#div_password2').addClass("has-danger");
    } else {
      $('#password1-errors').html("");
      $('#password2-errors').html("");
    }

  });

  $(document).on('submit', '#formProfil', function(e) {
    e.preventDefault();

      $.ajax({
        type: 'POST',
        url: '{% url "reg" %}',
        data: {
          username: $('#id_username').val(),
          email: $('#id_email').val(),
          password1: $('#id_password1').val(),
          password2: $('#id_password2').val(),
          member: $('#memberInput').val(),
          tos: $('#id_tos').is(':checked'),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(data) {
          console.log('success:  ' + data)
          // $('#myTab a[href="#plata"]').tab('show')
          window.location = '{% url "account_login" %}'
        },
        error: function(err) {
          if ($('#memberInput').val().trim() === "") {
            $('#display-errors').html('').html('Nu ai selectat tipul de abonament')

          } else {

            $('#display-errors').html('').html('Verifică erorile')
          }
        }
      });
      // }
  });
</script>
{% endblock %}
