{% extends "base.html" %}
{% load static %}

{% block title %}Socio: {{ object.username }}{% endblock %}

{% block body_class %}
<body class="profile-page sidebar-collapse" id="mainly">
{% endblock body_class %}


{% block main_content %}
<div class="page-header" data-parallax="true" style="background-image: url('{% static 'images/landing.png' %}');">
<div class="container">
  <div class="row">
    <div class="col-10 ml-auto mr-auto">
      <h3 class="title text-center" style="margin-top: 0px;">Bine ai venit</h3>
    </div>
  </div>
</div>
</div>
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img src="{% static 'images/default-avatar.png' %}" alt="Avatar Socio placeholder" class="img-raised rounded-circle img-fluid">
            </div>
            <div class="name">
              <h3 class="title">{{object.username}}</h3>
              {% if current_membership != 'None' %}
              <h5 class="title">Membru Socios<br>{{current_membership}}</h5>
              <h5 class="title">Valabil până la {{subscription.billing_period_end_date}}</h5>
              {{subscription.status}}
              {% endif %}
              </div>
          </div>
        </div>
      </div>

      {% if subscription.status != 'Active' %}

      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <form id="payment-form" method="post" action="{% url 'recieve' %}">
            {% csrf_token %}
            <section>

              <div class="bt-drop-in-wrapper">
                <div id="bt-dropin"></div>
              </div>
            </section>

            <input type="hidden" id="nonce" name="payment_method_nonce" />
            <input type="hidden" id="membership" name="membership" />
            <button class="button" type="submit" id="submit-button"><span>Test Transaction</span></button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock main_content %}




{% if subscription.status != 'Active' %}
{% block javascript %}

<script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = '{{nonce_token}}';

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        document.querySelector('#membership').value = $('#memberInput').val();
        form.submit();
      });
    });
  });
</script>
{% endblock %}
{% endif %}
